/* styles.css */

/* Apply Montserrat font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/* Apply Lato font to body text */
body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

h1 {
  color: #333;
}
